body {
background: black;
color: white;
text-align: center;
}

#mainContent {
display: none;
}

.glow {
font-size: 40px;
color: pink;
}

.gallery img {
width: 250px;
margin: 10px;
border-radius: 15px;
}

#hiddenMessage {
display: none;
}
